.all {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.common {
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  width: 270px;
  height: 300px;
  background-color: #fafafa;
}
.image {
  height: 150px;
  width: 150px;
}

.menu {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/869/719/717/cuisine-food-india-indian-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  color: lightskyblue;
  background-color: grey;
  font-size: 35px;
  border-bottom: 5px double #f90bd9;
  border-top: 5px double #f90bd9;
  font-weight: 1000;
}
.thaliItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.image1 {
  text-decoration: underline;
  height: 75px;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 3px solid #0d0c0d;
}
.text1 {
  text-decoration: underline;
  color: rgb(247, 0, 255);

  font-size: 35px;

  font-weight: 1000;
}
.button {
  margin-right: 3px;
}
